include README.md
include requirements.txt
include test.ini
prune ckanext/sparql_interface/lib
recursive-include ckanext/sparql_interface *.html *.json *.js *.less *.css *.mo *.po *.yaml *.ini *.py *.mako *.gif
